body
{
position:relative;
margin:0;
padding:0;
font-size:12px;
color:#000;
line-height:1.2;
background:#ffffff;
}

div,span,textarea,ul,li,dl,dt,dd,label,p,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,select
{
position:relative;
margin:0;
padding:0;
border:0;
list-style-type:none;
line-height:1.2;
word-wrap:break-word;
font-weight:normal;
}
img,input
{
margin:0;
padding:0;
border:0;
}
a
{
margin:0;
padding:0;
text-decoration:none;
border:0;
font-size:12px;
color:#000;
}